[submodule "externals/3rdparty/gtest"]
	path = externals/3rdparty/gtest
	url = https://github.com/google/googletest.git
[submodule "externals/3rdparty/fmtlib"]
	path = externals/3rdparty/fmtlib
	url = https://github.com/fmtlib/fmt
[submodule "externals/3rdparty/json"]
	path = externals/3rdparty/json
	url = https://github.com/nlohmann/json
[submodule "scripts/bashUtils"]
	path = scripts/bashUtils
	url = https://github.com/christophe-calmejane/bashUtils.git
[submodule "cmake/cmakeUtils"]
	path = cmake/cmakeUtils
	url = https://github.com/christophe-calmejane/cmakeUtils.git
[submodule "externals/nih"]
	path = externals/nih
	url = https://github.com/L-Acoustics/networkInterfaceHelper.git
[submodule "Docker/dockerHelper"]
	path = Docker/dockerHelper
	url = https://github.com/christophe-calmejane/dockerHelper.git
