[submodule "externals/3rdparty/gtest"]
	path = externals/3rdparty/gtest
	url = https://github.com/google/googletest.git
[submodule "externals/3rdparty/fmtlib"]
	path = externals/3rdparty/fmtlib
	url = https://github.com/fmtlib/fmt
